* {
    margin: 0;
    padding: 0;

}

$primario: #0a151f;
$secundario: #143c69;
$terciario: #1b94cc;
$oscuro: #04070a;
$font1 : 'Fjalla One',
sans-serif;
$font2 : 'Roboto',
sans-serif;

$claro1 : #8bc4df7c;
$claro2 : #dfb88b7c;
$claro3 : #b4df8b7c;
$claro4 : #ce8bdf7c;

.primario {
    background-color: $primario !important;
}

.secundario {
    background-color: $secundario !important;
}

.secundario:hover {
    background-color: $terciario !important;
}

.terciario {
    background-color: $terciario !important;
}

.degradado {
    background-image: linear-gradient(180deg, rgba(14, 24, 45, 0.712) 25%, $primario 99%);
}

.deshabilitado {
    opacity: 0.4;
    cursor: none;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}