* {
    margin: 0;
    padding: 0;
}

$primario: #0a151f;
$secundario: #19304b;
$terciario: #f8b233;
$oscuro: #04070a;
$font1 : 'Prompt',
sans-serif;
$font2 : 'Roboto',
sans-serif;

.primario {
    background-color: $primario !important;
}

.secundario {
    background-color: $secundario !important;
}

.terciario {
    background-color: $terciario !important;
}

.degradado {
    background-image: linear-gradient(to bottom, rgba(61, 61, 61, 0), rgba(0, 0, 0, 0.959));
}

.deshabilitado {
    opacity: 0.4;
    cursor:none ;
}

.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;
}

