.tabla__materias {
    .tabla-materias {
        display: grid;
        width: 60%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        font-size: 0.8rem;
        font-family: $font2;
        color: $primario;
        margin-bottom: 50px;
    }

    .tabla-materias>div {
        padding: 8px 4px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 6px;
    }

    .tabla-de2-materias {
        display: grid;
        width: 60%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 15px;
        font-size: 0.8rem;
        font-family: $font2;
        margin-bottom: 50px;
    }

    .tabla-de2-materias>div {
        padding: 8px 4px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 6px;
    }

    .tabla-referencia {
        display: grid;
        width: 60%;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 15px;
        font-size: 0.8rem;
        font-family: $font2;
        color: $primario;
        cursor: default;
    }

    .tabla-referencia>div {
        padding: 8px 4px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 6px;
    }

    .div-celeste {
        background-color: $claro1;
    }

    .div-celeste:hover {
        color: $primario
    }

    .div-naranja {
        background-color: $claro2;
    }

    .div-verde {
        background-color: $claro3;
    }

    .div-violeta {
        background-color: $claro4;
    }

    .titulo-tabla {
        width: 60%;
        margin: 0 auto;
        background-color: $secundario;
        height: 3rem;
        color: #fff;
        font-family: $font1;
        letter-spacing: 2px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        text-transform: uppercase;
    }

    @media (max-width: 768px) {
        .tabla-materias {
            font-size: 0.7rem;
            width: 80%;
        }

        .tabla-de2-materias {
            font-size: 0.7rem;
            width: 80%;
        }

        .tabla-referencia {
            width: 80%;
        }

        .titulo-tabla {
            width: 80%;
        }
    }

}