@import "global";
@import "reboot";
@import "navbar";
@import "fonts";
@import "navsecundario";
@import "spananimation";




.section__principal {

    background-color: #ddd;
    height: auto;


    .carousel-caption {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
        color: #fff;
        text-align: center;
        height: 60%;

        h1 {
            font-family: $font2;
            font-size: 38px;
            font-weight: 600;
            text-transform: none;
            margin-bottom: 5px !important;
            padding: 0px 20px;
            letter-spacing: 2px;
            text-decoration: underline;
            text-decoration-color: $terciario;
            transform: scale(0.94);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
        }
    }

    .tarjetas__ingreso {
        background-color: $terciario;
        padding: 15px;

        .card {
            font-family: $font2;
            border-radius: 20px;
            padding: 15px;
            margin-bottom: 10px;
            color: $secundario;
            border: 2px solid $terciario !important;

            .btn {
                border: none;
                color: #fff
            }

            h2 {
                font-family: $font1;
                font-size: 20px;
                font-weight: 800;
                text-transform: uppercase;
            }

            .positivo {
                color: darkgreen;
                font-family: $font2;
                font-weight: 800;

                i {
                    font-size: 16px;
                    color: darkgreen;
                }
            }

            .negativo {
                color: darkred;
                font-family: $font2;
                font-weight: 800;

                i {
                    font-size: 16px;
                    color: darkred;
                }
            }

            i {
                color: $secundario;
                font-size: 30px;
            }
        }
    }


    .redes {
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primario;

        .boton__redes {
            width: 65px;
            height: 65px;
            line-height: 50px;
            font-size: 25px;
            margin: 15px;
            padding: 0;
            border: 3px solid $terciario;
            color: #fff;
            background-color: $primario;
            border-radius: 50%;
            min-width: 55px;
            transition: 550ms ease;
        }

        .boton__redes:hover {
            font-size: 26px;
            border: 3px solid $secundario;
            color: $secundario;
        }
    }



}

.degradado {
    background-image: linear-gradient(to bottom, rgba(61, 61, 61, 0), rgba(0, 0, 0, 0.959));
}

@media (min-width:720px) {



    .section__principal {
        background-color: #fff;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
            "carousel carousel"
            "tarjetas redes"
            "tarjetas redes";

        .carousel-item {
            height: 45vh;
        }


        .container-fluid {
            grid-area: carousel;
        }

        .tarjetas__ingreso {
            grid-area: tarjetas;
            background-color: $terciario;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .card {
                width: 95%;
            }
        }

        .redes {
            grid-area: redes;
            display: flex;
            flex-direction: column;
        }
    }
}


@media (min-width:992px) {

    .section__principal {
        margin: 50px 100px;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "carousel carousel"
            "tarjetas redes"
            "tarjetas redes";


        .tarjetas__ingreso {
            background-color: #fff;
        }

        .redes {
            background-color: #fff;
        }
    }
}


@media (min-width:1200px) {

    .section__principal {
        margin: 50px 100px;
        grid-template-columns: 4fr 4fr 0.5fr;
        grid-template-areas:
            "carousel tarjetas redes"
            "carousel tarjetas redes";


        .container-fluid {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tarjetas__ingreso {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .card {
                width: 95%;
            }
        }

        .redes {
            background-color: #fff;
            padding: 0px;
        }

        .d-block,
        .w-100 {
            min-height: 413.86px;
            height: auto;
            width: 100%;
            object-fit: cover;
        }


    }
}