@import "global";
@import "reboot";
@import "navbar";
@import "fonts";
@import "navsecundario";
@import "spananimation";
@import "main";
@import "secundaria";
@import "ingreso";
@import "footer";
@import "comando-intendencia";
@import "tablas";
@import "tablas-materias";
@import "titular";

.main__basico {

    margin: 50px 25px;
    margin-top: 100px;


    h1 {
        @include titular;

    }

    p {
        font-family: $font2;
        font-size: 1rem;
        line-height: 1.4rem;
        color: $primario;
        text-align: justify;

        strong {
            color: $secundario;
        }
    }

}

@media (min-width:576px) {
    .main__basico {
        margin: 50px 50px;
    }
}

@media (min-width:1200px) {
    .main__basico {
        margin: 80px 250px;
    }
}

.section__plan {
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    h2 {
        @include titular;
    }

    .tabla__plan {

        margin-bottom: 50px;

        @mixin titulo-tabla {

            background-color: $secundario;
            color: #fff;
            font-family: $font1;
            font-size: 1.8rem;
            letter-spacing: 3px;
            padding: 3px 15px;
            text-align: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @mixin borde {
            border: 2px solid $secundario;
            color: $secundario;
            box-sizing: border-box;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
        }

        @mixin diploma {
            background-color: $secundario;
            color: #fff;
            font-family: $font1;
            letter-spacing: 2px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
        }



        .tabla__plan--titulo1 {
            @include titulo-tabla;
            grid-area: titulo1;
        }

        .caja__1 {
            grid-area: caja1;
            @include borde;
        }

        .caja__2 {
            grid-area: caja2;
            background-color: $terciario;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px;
        }

        .caja__3 {
            grid-area: caja3;
            @include borde;
        }

        .caja__4 {
            grid-area: caja4;
            @include borde;
        }

        .caja__5 {
            grid-area: caja5;
            @include diploma;
        }

        .tabla__plan--titulo2 {
            @include titulo-tabla;
            grid-area: titulo2;
        }

        .caja__6 {
            grid-area: caja6;
            @include borde;
        }

        .caja__7 {
            grid-area: caja7;
            @include borde;
        }

        .caja__8 {
            grid-area: caja8;
            @include diploma;
        }

        display: grid;
        grid-template-columns: 3fr 2fr 3fr 3fr 3fr;
        grid-template-rows: 1fr 4fr 1fr 4fr;
        grid-template-areas: "titulo1 titulo1 titulo1 titulo1 titulo1"
        "caja1 caja2 caja3 caja4 caja5"
        "titulo2 titulo2 titulo2 titulo2 titulo2"
        "caja6 caja6 caja6 caja7 caja8";
        gap: 1rem;

    }
}

@media (max-width:1200px) {
    .section__plan {
        width: 90%;
    }
}

@media (max-width:768px) {
    .section__plan {

        .tabla__plan {
            display: flex;
            flex-direction: column;
        }
    }
}