@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,400;0,600;1,300&family=Roboto:wght@300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
}

.primario {
  background-color: #0a151f !important;
}

.secundario {
  background-color: #112333 !important;
}

.terciario {
  background-color: #f8b233 !important;
}

.deshabilitado {
  opacity: 0.4;
  cursor: none;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/*NAVBAR FIRST MOBILE*/
.navbar {
  height: 80px;
  padding: 25px 25px;
  z-index: 10000 !important;
}
.navbar .nav-link {
  color: #fff !important;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  transition: 0.5s ease;
  padding: 0.8rem 0.4rem !important;
}
.navbar .nav-link:hover {
  background-color: #112333;
}
.navbar .navbar-toggler {
  font-size: 1rem;
  border: 2px solid #f8b233 !important;
}

.navbar-nav {
  background-color: #0a151f;
  border-bottom: 2px solid #f8b233 !important;
}
.navbar-nav .dropdown-menu {
  background-color: #112333;
  border: none;
  border-radius: 0;
  border-top: 3px solid #0a151f !important;
}
.navbar-nav .dropdown-menu .dropdown-item {
  color: #fff;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.active {
  color: darkgray !important;
}

header img {
  height: 50px;
}

/*NAVBAR DESKTOP*/
@media (min-width: 992px) {
  .navbar {
    height: 100px;
    padding: 25px 100px;
  }
  .navbar .nav-link {
    border-right: 2px solid #f8b233;
    font-size: 14px;
    padding: 0.1rem 0.4rem !important;
  }
  .navbar .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .dropdown-menu {
    margin-top: 0;
  }
  .navbar img {
    height: 70px;
  }
  .navbar-nav {
    background-color: #0a151f;
    border-bottom: 0px solid transparent !important;
  }
  .navbar-nav .dropdown-menu {
    background-color: #0a151f;
    border: none;
    border-bottom: 2px solid #f8b233;
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-transform: none;
  }
  .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #112333;
  }
}
/* NAVBAR SECUNDARIO*/
.navbar__secundario {
  height: 60px;
  background-color: #112333;
}
.navbar__secundario ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
  padding: 15px 15px;
  font-size: 10.5px;
}
.navbar__secundario ul a {
  color: #fff;
  text-decoration: none;
}
.navbar__secundario ul i {
  color: #f8b233;
  font-size: 15px;
  padding-right: 2px;
}
.navbar__secundario ul .link__menu {
  padding: 5px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #0a151f;
  letter-spacing: 2px;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .navbar__secundario ul {
    justify-content: flex-end;
    padding: 15px 100px;
    font-size: 11px;
  }
  .navbar__secundario ul .link__menu {
    padding-left: 10px;
    padding-right: 10px;
  }
}
span {
  display: inline-block;
  opacity: 0;
  text-decoration: underline;
  -webkit-text-decoration-color: #f8b233;
          text-decoration-color: #f8b233;
  filter: blur(4px);
}

span:nth-child(1) {
  -webkit-animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  -webkit-animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.section__principal {
  background-color: #ddd;
  height: auto;
  padding-bottom: 10px;
}
.section__principal .carousel-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  color: #fff;
  text-align: center;
  height: 60%;
}
.section__principal .carousel-caption h1 {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 5px !important;
  padding: 0px 20px;
  letter-spacing: 2px;
  text-decoration: underline;
  -webkit-text-decoration-color: #f8b233;
          text-decoration-color: #f8b233;
  transform: scale(0.94);
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.section__principal .card {
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  margin: 15px;
  color: #112333;
  border: 2px solid #f8b233 !important;
}
.section__principal .card .btn {
  border: none;
  color: #fff;
}
.section__principal .card h2 {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.section__principal .card i {
  color: #112333;
  font-size: 30px;
}

.degradado {
  background-image: linear-gradient(to bottom, rgba(61, 61, 61, 0), rgba(0, 0, 0, 0.959));
}

@media (min-width: 992px) {
  .container-fluid {
    grid-area: carousel;
  }
  .card-cuina {
    grid-area: cuina;
  }
  .card-cadete {
    grid-area: cadete;
  }
  .section__principal {
    background-color: #fff;
    height: 428.56px;
    margin: 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "carousel cuina" "carousel cadete";
  }
  .section__principal .carousel {
    height: 400px;
    width: 600px;
  }
}/*# sourceMappingURL=styles.css.map */