@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
}

.primario {
  background-color: #0a151f !important;
}

.secundario {
  background-color: #19304b !important;
}

.terciario {
  background-color: #f8b233 !important;
}

.degradado {
  background-image: linear-gradient(180deg, rgba(14, 24, 45, 0) 25%, #0a151f 99%);
}

.deshabilitado {
  opacity: 0.4;
  cursor: none;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/*NAVBAR FIRST MOBILE*/
.navbar {
  height: 80px;
  padding: 25px 25px;
  z-index: 10000 !important;
}
.navbar .nav-link {
  color: #fff !important;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  transition: 0.5s ease;
  padding: 0.8rem 0.4rem !important;
}
.navbar .nav-link:hover {
  background-color: #19304b;
}
.navbar .navbar-toggler {
  font-size: 1rem;
  border: 2px solid #f8b233 !important;
}

.navbar-nav {
  background-color: #0a151f;
  border-bottom: 2px solid #f8b233 !important;
}
.navbar-nav .dropdown-menu {
  background-color: #19304b;
  border: none;
  border-radius: 0;
  border-top: 3px solid #0a151f !important;
}
.navbar-nav .dropdown-menu .dropdown-item {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.active {
  color: darkgray !important;
}

header img {
  height: 50px;
}

/*NAVBAR DESKTOP*/
@media (min-width: 992px) {
  .navbar {
    height: 100px;
    padding: 25px 100px;
  }
  .navbar .nav-link {
    border-right: 2px solid #f8b233;
    font-size: 14px;
    padding: 0.1rem 0.4rem !important;
  }
  .navbar .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .dropdown-menu {
    margin-top: 0;
  }
  .navbar img {
    height: 70px;
  }
  .navbar-nav {
    background-color: #0a151f;
    border-bottom: 0px solid transparent !important;
  }
  .navbar-nav .dropdown-menu {
    background-color: #0a151f;
    border: none;
    border-bottom: 2px solid #f8b233;
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-transform: none;
  }
  .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #19304b;
  }
}
/* NAVBAR SECUNDARIO*/
.navbar__secundario {
  height: 60px;
  background-color: #19304b;
}
.navbar__secundario ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  padding: 15px 15px;
  font-size: 10.5px;
}
.navbar__secundario ul a {
  color: #fff;
  text-decoration: none;
}
.navbar__secundario ul i {
  color: #f8b233;
  font-size: 15px;
  padding-right: 2px;
}
.navbar__secundario ul .link__menu {
  padding: 5px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #0a151f;
  letter-spacing: 2px;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .navbar__secundario ul {
    justify-content: flex-end;
    padding: 15px 100px;
    font-size: 11px;
  }
  .navbar__secundario ul .link__menu {
    padding-left: 10px;
    padding-right: 10px;
  }
}
span {
  display: inline-block;
  opacity: 0;
  text-decoration: underline;
  -webkit-text-decoration-color: #f8b233;
          text-decoration-color: #f8b233;
  filter: blur(4px);
}

span:nth-child(1) {
  -webkit-animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  -webkit-animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/** First mobile **/
.section__principal {
  height: auto;
}
.section__principal .carousel-caption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #fff;
  text-align: center;
  height: 100%;
}
.section__principal .carousel-caption h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 5px !important;
  padding: 0px 20px;
  padding-top: 150px;
  letter-spacing: 2px;
  text-decoration: underline;
  -webkit-text-decoration-color: #f8b233;
          text-decoration-color: #f8b233;
  transform: scale(0.94);
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.section__principal .tarjetas__ingreso {
  background-color: #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__principal .tarjetas__ingreso .card-cadete {
  margin-top: 15px;
}
.section__principal .tarjetas__ingreso .card {
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  color: #19304b;
}
.section__principal .tarjetas__ingreso .card .btn,
.section__principal .tarjetas__ingreso .card .btn-primary {
  border: none;
  color: #fff;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size: 11pt;
}
.section__principal .tarjetas__ingreso .card h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.section__principal .tarjetas__ingreso .card h2 i {
  color: #f8b233;
  font-size: 20px;
}
.section__principal .tarjetas__ingreso .card .positivo {
  color: #19304b;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
.section__principal .tarjetas__ingreso .card .positivo i {
  font-size: 16px;
  color: #19304b;
}
.section__principal .tarjetas__ingreso .card .negativo {
  color: darkgrey;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
.section__principal .tarjetas__ingreso .card .negativo i {
  font-size: 16px;
  color: darkgrey;
}
.section__principal .redes {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19304b;
}
.section__principal .redes .boton__redes {
  width: 55px;
  height: 55px;
  line-height: 50px;
  font-size: 20px;
  margin: 15px;
  padding: 0;
  border: 3px solid #f8b233;
  color: #fff;
  background-color: #19304b;
  border-radius: 50%;
  min-width: 55px;
  transition: 550ms ease;
}

.section__secundaria .section__preguntas .accordion {
  margin: 25px;
  border-radius: 15px;
}
.section__secundaria .section__preguntas .accordion .accordion-item button {
  font-family: "Fjalla One", sans-serif;
  color: #19304b;
  font-weight: 600;
}
.section__secundaria .section__preguntas .accordion .accordion-item .accordion-body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
}
.section__secundaria .about__us {
  background-image: url("../img/fondo-escuela2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.section__secundaria .about__us .about__us--caja {
  background-color: rgba(0, 23, 49, 0.6);
  bottom: 0;
  margin-top: 350px;
  padding: 50px;
}
.section__secundaria .about__us .about__us--caja .about__us--titulo {
  display: flex;
  border-bottom: 2px solid #f8b233;
}
.section__secundaria .about__us .about__us--caja .about__us--titulo i {
  font-size: 20px;
  color: #f8b233;
  padding-right: 10px;
}
.section__secundaria .about__us .about__us--caja .about__us--titulo h3 {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 22px;
  color: #f8b233;
  letter-spacing: 2px;
}
.section__secundaria .about__us .about__us--caja p {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  line-height: 22px;
  text-align: justify;
}
.section__secundaria .section__testimonio .caja__testimonio {
  margin: 35px 50px;
}
.section__secundaria .section__testimonio .caja__testimonio .caja__titulo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 25px;
}
.section__secundaria .section__testimonio .caja__testimonio .caja__titulo img {
  border-radius: 100px;
  height: 100px;
  margin-right: 15px;
}
.section__secundaria .section__testimonio .caja__testimonio .caja__titulo .titulo__testimonio {
  display: flex;
  flex-direction: column;
}
.section__secundaria .section__testimonio .caja__testimonio .caja__titulo .titulo__testimonio .jerarquia {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  background-color: #f8b233;
}
.section__secundaria .section__testimonio .caja__testimonio .caja__titulo .titulo__testimonio .nombre {
  font-family: "Fjalla One", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #19304b;
  padding: 4px;
}
.section__secundaria .section__testimonio .caja__testimonio .texto__testimonio {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  color: #0a151f;
}
.section__secundaria .section__accesos {
  background-color: #ddd;
  height: 300px;
  display: flex;
  margin: 50px 0;
  margin-bottom: 0;
}
.section__secundaria .section__accesos .caja_accesos {
  background-image: linear-gradient(180deg, rgba(15, 31, 66, 0.062) 30%, #0a151f 100%), url(../img/navegacion.jpg);
  height: auto;
  width: 33.33%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__secundaria .section__accesos .caja_accesos a {
  text-decoration: none;
}
.section__secundaria .section__accesos .caja_accesos h4 {
  font-family: "Fjalla One", sans-serif;
  transform: rotate(-90deg);
  color: #fff;
  font-size: 2rem;
  letter-spacing: 6px;
  box-shadow: rgba(0, 0, 0, 0.466) 0px 5px 15px;
}
.section__secundaria .section__accesos .caja_accesos:nth-child(2) {
  background-image: linear-gradient(180deg, rgba(15, 31, 66, 0.062) 30%, #0a151f 100%), url(../img/historia.jpg);
}
.section__secundaria .section__accesos .caja_accesos:nth-child(3) {
  background-image: linear-gradient(180deg, rgba(15, 31, 66, 0.062) 30%, #0a151f 100%), url(../img/rincones.jpg);
}

footer {
  height: 400px;
  background-color: #19304b;
}

/** Responsive para desktop **/
@media (min-width: 768px) {
  .section__principal {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "carousel carousel" "redes ingreso";
  }
  .section__principal .container-fluid {
    grid-area: carousel;
  }
  .section__principal .tarjetas__ingreso {
    grid-area: ingreso;
  }
  .section__principal .redes {
    grid-area: redes;
    display: flex;
    flex-direction: column;
  }
  .section__secundaria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "preguntas preguntas" "nosotros nosotros" "testimonio testimonio" "accesos accesos";
  }
  .section__secundaria .section__preguntas {
    grid-area: preguntas;
  }
  .section__secundaria .about__us {
    grid-area: nosotros;
    min-height: 200px;
    margin: 0px 25px;
  }
  .section__secundaria .about__us .about__us--caja {
    margin-top: 0;
  }
  .section__secundaria .section__testimonio {
    grid-area: testimonio;
  }
  .section__secundaria .section__accesos {
    grid-area: accesos;
  }
}
@media (min-width: 1200px) {
  .section__principal {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "carousel ingreso" "redes redes";
  }
  .section__principal .redes {
    flex-direction: row;
  }
}/*# sourceMappingURL=styles.css.map */